extends ../layout.pug

block navbar-options
    li.nav-item
        a.nav-link(href='/elasticsearch') Description
    li.nav-item
        a.nav-link(href='/elasticsearch/how2run') How to reproduce
    li.nav-item.active
        a.nav-link(href='/elasticsearch/portfolio') Portfolio

block content
    h2(style='text-align: center;') Elasticsearch use case
    .row
        .col-xs-6
            h4 Portfolio
        .col-xs-6
            .info
                i.fa.fa-info-circle
                span.extra-info
                    | Click on an image for more details

    // First Photo Grid
    .w3-row-padding.w3-padding-16.w3-center
        .w3-third
            img.specImage(src='/image/elasticsearch/stats.png' style='width:100%')
            h3.specTitle System overview
            p.specDescription Generic statistics about the application execution
            .specExplanation
                p
                    | Elasticsearch issued about 1 million storage system calls, most of which were <code>write</code> system calls (71%).
                    | <br>Besides the <code>write</code> operations, Elasticsearch also issued <code>read</code>, <code>seek</code>, <code>stat</code>, <code>fsync</code>, <code>close</code>, <code>unlink</code>, <code>rename</code> and <code>readlink</code> operations (including several variants of each system call) .
                    | <br>Moreover, the Elasticsearch application spawned 42 processes and 118 threads, and accessed almost 4000 different file paths.
        .w3-third
            img.specImage(src='/image/elasticsearch/data_vs_meta.png' style='width:100%')
            h3.specTitle Percentage of data vs metadata
            p.specDescription Shows the percentage of data and metadata-related system calls
            .specExplanation
                p
                    | The majority of system calls issued by Elasticsearch were <code>data-related</code> (<code>88%</code>).
        .w3-third
            img.specImage(src='/image/elasticsearch/exec_time.png' style='width:100%')
            h3.specTitle Execution time per system call
            p.specDescription Shows the average execution time for the top 5 system calls
            .specExplanation
                p
                    | The system call with the highest average execution time was <code>fsync</code>, which took <code>6,5</code> milliseconds on average.
                    | <br><code>fdatasync</code> was the second most expensive system call, with an average execution time of <code>6,4</code> milliseconds.
                    | <br>The average execution time of the <code>unlink</code> system call was <code>0,43</code> milliseconds.
    .w3-row-padding.w3-padding-16.w3-center
        .w3-third
            img.specImage(src='/image/elasticsearch/file_types.png' style='width:100%')
            h3.specTitle Top file types
            p.specDescription Shows the type of files accessed by the application and the number of system calls issued for each file type
            .specExplanation
                p
                    | Elasticsearch accessed two types of files: <code>regular files</code> and <code>directories</code>.
                    | <br>The majority of the system calls were issued to <code>regular files</code> (about 1 million).
        .w3-third
            img.specImage(src='/image/elasticsearch/file_path_accesses.png' style='width:100%')
            h3.specTitle File path accesses
            p.specDescription Shows the application file accesses over time
            .specExplanation
                p
                    | Some files exhibit a constant access pattern, even in the absence of client requests.
                    | <br>Every <code>30</code> seconds Elasticsearch submits <code>2</code> system calls to the <code>node.lock</code> file (blue line).
                    | <br>Every <code>2</code> minutes, <code>10</code> system calls to <code>.es_temp_file</code> file (pink line).
        .w3-third
            img.specImage(src='/image/elasticsearch/es_temp_file_nano.png' style='width:100%')
            h3.specTitle File path accesses for .es_temp_file
            p.specDescription Show the application file accesses over time for the .es_temp_file file (nanosecond time interval)
            .specExplanation
                p
                    | Elasticsearch always performs the same sequecence of system calls:
                    | <code>lstat→openat→write→openat→fsync→close→close→lstat→unlink</code>.
                    | <br>The system call with higher execution time is <code>fsync</code> (blue bar).
                    | <br>There is a duplication of <code>openat</code> and <code>close</code> system calls.
