extends layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/') Home

block content

    h1#contact Contacts

    br

    p This project was developed by the Distributed Storage Research Group @ HASLab, INESC TEC.

    br

    h4#authors Contributors

    ul
        li
            p Tânia Esteves -
                a.link(href='mailto:tania.c.araujo@inesctec.pt', target="_blank") tania.c.araujo@inesctec.pt
        li
            p Ricardo Macedo -
                a.link(href='mailto:rgmacedo@inesctec.pt') rgmacedo@inesctec.pt

        //- li
        //-     p Rui Oliveira -
        //-         a.link(href='mailto:rui.oliveira@inesctec.pt') rui.oliveira@inesctec.pt

        li
            p João Paulo -
                a.link(href='mailto:jtpaulo@inesctec.pt') jtpaulo@inesctec.pt

    br
    p
        | Please contact us with any questions.


    .wrapperSites
        a.icon.website(href='https://dsr-haslab.github.io')
            .tooltip DSR-HASLab Website
            span
                i.fas.fa-light.fa-globe
        a.icon.github(href='https://github.com/dsrhaslab')
            .tooltip DSR-HASLab GitHub
            span
                i.fab.fa-github
