extends layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/redis') Description
    li.nav-item
        a.nav-link(href='/redis/how2run') How to reproduce
    li.nav-item
        a.nav-link(href='/redis/portfolio') Portfolio

block content
    h2(style='text-align: center;') Redis use case

    p
        | This use case considers the diagnosis of an issue identified in the Redis in-memory data store
        a(href='https://github.com/redis/redis/pull/10531', target='_blank', style='color: blue;')  (see pull request #10531).
        | <br>The instructions to reproduce the use case are available at
        a(href='/redis/how2run', target='_blank', style='color: blue;')  how to reproduce
        | , while an extendend set of visualizations provided by DIO are available at
        a(href='/redis/portfolio', target='_blank', style='color: blue;')  portfolio.

    h5 Problem
    p
        | The server log file is repeatedly opened and closed for every written line, which adds extra latency for log operations and can potentially slowdown Redis performance.

    h5 Diagnosis
    p
        | Using DIO to observe I/O access patterns for the log file, we can see the same set of syscalls being done repeatedly, with a sequential access pattern (i.e., the offset increases for each set of operations). Further analysing this pattern, we can see the exact order of requests for one of these sets:
        | <code>openat→lseek→fstat→write→close</code>.

    img(src="/image/redis/redis-old.gif", alt="", style="width: 60%; text-align: center; display: block; margin-left: auto; margin-right: auto;")
    p(style="text-align: center") <em>Figure 1. Log file access pattern, depicting syscalls issued over time (V1)</em>

    h5 Solution
    p
        | As suggested in the Pull Request for the issue, this inefficient I/O pattern can be fixed by:
        ul
            li keeping the log's file descriptor opened while the file is being used, and
            li using <code>writev</code> to write log lines more efficiently.

    h5 Validation
    p
        | Using DIO, we are also able to validate the proposed solution by observing the new access pattern for the log file.
        | With the suggested fix, redundant <code>open</code> and <code>close</code> operations are avoided, along with the need for using <code>lseek</code> before every write operation. Also, <code>writev</code> is now used to write log lines, instead of <code>write</code>.

    img(src="/image/redis/redis-new.gif", alt="", style="width: 60%; text-align: center; display: block; margin-left: auto; margin-right: auto;")
    p(style="text-align: center") <em>Figure 2. Log file access pattern, depicting syscalls issued over time (v2)</em>