extends layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='#installation') Installation
    li.nav-item
        a.nav-link(href='#usage') Usage

block content
    h2#installation Installation

    p To appear soon...
    
    //- h4 DIO's pipeline    

    //- h4 DIO's tracer


    .line

    h2#usage Usage

    p To appear soon...

    .line
