extends ../../layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/') Home
    li.nav-item
        a.nav-link(href='/redis') Description
    li.nav-item
        a.nav-link(href='/redis/how2run') How to reproduce
    li.nav-item.active
        a.nav-link(href='/redis/portfolio') Portfolio

block content
    h2(style='text-align: center;') Redis use case
    .row
        .col-xs-6
            h4 Portfolio
        .col-xs-6
            .info
                i.fa.fa-info-circle
                span.extra-info
                    | Click on an image for more details

    h4(style='text-align: center;') Inefficient code (v1) vs Fixed code (v2)

    h5 System overview
    p Generic statistics about the application execution
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-version/stats.png' style='width:100%')
            .specExplanation
                p
                    | Redis (v1) issued about 600K storage system calls, most of which were <code>write</code> system calls.
                    | <br>Besides the <code>write</code> system calls, Redis also issued the following system calls: <code>openat</code>, <code>close</code>, <code>fstat</code>, <code>lseek</code>, <code>read</code>, <code>fsync</code>, <code>rename</code>, <code>readlink</code> and <code>stat</code>.
                    | <br>Moreover, the Redis application spawned 13 processes and accessed 13 different file paths.
        .w3-half
            img.specImage(src='/image/use-cases/redis/new-version/stats.png' style='width:100%')
            .specExplanation
                p
                    | Redis (v2) issued about 589K storage system calls, most of which were <code>write</code> system calls.
                    | <br>Besides the <code>write</code> system calls, Redis also issued the following system calls: <code>writev</code>, <code>read</code>, <code>openat</code>, <code>fstat</code>, <code>close</code>, <code>rename</code>, <code>fsync</code>, <code>readlink</code> and <code>stat</code>.
                    | <br>Moreover, the Redis application spawned 13 processes and accessed 13 different file paths.

    br
    h5 Top file types
    p Shows the type of files accessed by the application and the number of system calls issued for each file type
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-version/top_file_types.png' style='width:100%')
            .specExplanation
                p Redis (v1) issued about 600K storage system calls to <code>regular files</code>, most of which were <code>write</code> system calls.
        .w3-half
            img.specImage(src='/image/use-cases/redis/new-version/top_file_types.png' style='width:100%')
            .specExplanation
                p Redis (v2) issued about 589K storage system calls to <code>regular files</code>, most of which were <code>write</code> system calls.

    br
    h5 Top file paths
    p Shows the top 10 file paths accessed by the application and the number of system calls issued for each file path
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-version/top_file_paths.png' style='width:100%')
            .specExplanation
                p
                    | The most accessed file path by Redis (v1) was <code>/redis/redis/src/temp-81685.rdb</code>, which was accessed more than 70,000 times, mostly for <code>write</code> system calls.
                    | <br>All the top 10 file paths have the same file extension: <code>.rdb</code>.
        .w3-half
            img.specImage(src='/image/use-cases/redis/new-version/top_file_paths.png' style='width:100%')
            .specExplanation
                p
                    | The most accessed file path by Redis (v2) was <code>/redis/redis/src/temp-84103.rdb</code>, which was accessed more than 70,000 times, mostly for <code>write</code> system calls.
                    | <br>All the top 10 file paths have the same file extension: <code>.rdb</code>.

    br
    h5 Opens and closes (per file)
    p Shows the number of <code>open</code> and <code>close</code> operations issued for each file path (top 5)
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-version/open_vs_close.png' style='width:100%')
            .specExplanation
                p
                    | The file path with more <code>open</code> and <code>close</code> operations was the Redis log file (<code>/dio_data/redis.log</code>), which was opened/closed more than 2,600 times.
        .w3-half
            img.specImage(src='/image/use-cases/redis/new-version/open_vs_close.png' style='width:100%')
            .specExplanation
                p
                    | Redis (v2) only performed 1 <code>open</code> and 1 <code>close</code> operation for each file.


    br
    h5 File path accesses
    p Shows the application file accesses over time
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-version/top_file_accesses.png' style='width:100%')
            .specExplanation
                p
                    | The most accessed files over time are <code>.rdb</code> files, which are the Redis database files.
        .w3-half
            img.specImage(src='/image/use-cases/redis/new-version/top_file_accesses.png' style='width:100%')
            .specExplanation
                p
                    | The most accessed files over time are <code>.rdb</code> files, which are the Redis database files.

    br
    h5 Log file access pattern
    p Shows the application accesses to the log file over time
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-all.png' style='width:100%')
            //- h3.specTitle Log file access pattern (v1) (v1)
            //- p.specDescription Generic statistics about the execution
            .specExplanation
                p
                    | Redis (v1) issues the same set of system calls (<code>openat, lseek, fstat, write, close</code>) repeatedly over time, with a sequential file access pattern (i.e., the offset increases for each set of operations).
                    | <br>The maximum number of system calls issued per minute was 1165.
        .w3-half
            img.specImage(src='/image/use-cases/redis/new-all.png' style='width:100%')
            //- h3.specTitle Log file access pattern (v1) (v2)
            //- p.specDescription Generic statistics about the execution
            .specExplanation
                p
                    | Redis (v2) issues one <code>openat</code> system call at the beginning of the execution.
                    | <br>Then, only <code>writev</code> system calls are issued over time, with a sequential file access pattern (i.e., the offset increases for each set of operations).
                    | <br>The maximum number of system calls issued per minute was 234.


    br
    h5 Log file access pattern (nanosecond visualization)
    p Shows the exact order of the system calls issued for the log file (in microseconds)
    .w3-row-padding.w3-padding-16.w3-center
        .w3-half
            img.specImage(src='/image/use-cases/redis/old-nano.png' style='width:100%')
            .specExplanation
                p
                    | Redis (v1) executes always the same sequence of system calls: <code>openat→lseek→fstat→write→close</code>.
                    | <br>The system calls with higher execution times are <code>openat</code> and <code>write</code>.

        .w3-half
            img.specImage(src='/image/use-cases/redis/new-nano.png' style='width:100%')
            .specExplanation
                p
                    | Redis (v2) only performs one type of system call: <code>writev</code>.

