extends ../layout.pug

//- block navbar-options
//-     li.nav-item.active
//-         a.nav-link(href='#about') About
//-     li.nav-item
//-         a.nav-link(href='#installation') Installation

block content
    h1#installation Installation

    br

    p The installation and configuration of DIO are performed in two phases:

    p
        |
        a(href='/docs/installation/pipeline', , target='_self', style='color: blue;') > The setup and initialization of the analysis pipeline;

    p
        |
        a(href='/docs/installation/tracer', , target='_self', style='color: blue;') > The configuration and execution of the tracer


