extends ../layout.pug

block navbar-options
    li.nav-item.active
        a.nav-link(href='/') Home
    li.nav-item.active
        a.nav-link(href='#about') About
    li.nav-item
        a.nav-link(href='#Installation') Installation

block content
    h1#usage Usage

    br

    h3 Tracer

    br

    h3 Analysis Pipeline
